<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width" />

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css" >

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/stylesheets/styles.css" >
		<link href='http://fonts.googleapis.com/css?family=Marcellus+SC|Crushed|Maiden+Orange|Revalia|Glass+Antiqua|Holtwood+One+SC|Port+Lligat+Slab|Cousine|Happy+Monkey|Alegreya+SC|Medula+One|Metrophobic|Geo|IM+Fell+English|Fondamento' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Supermercado+One' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Glass+Antiqua' rel='stylesheet' type='text/css'>
		
		<!-- Java Scripts -->
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
		<script type="text/javascript" src="/javascripts/scripts.js"></script>
		
    </head>
    <body>
		{% include header.html %}
		
		{{ content }}

		<div class="footer">
			<div class="contact">
				<p>
				Taylor Kirk<br />
				Programmer<br />
				TaylorZaneKirk@gmail.com
				</p>
			</div>
            <div class="contact">
              <p>
                <a href="https://github.com/taylorzanekirk">github.com/TaylorZaneKirk</a><br />
              </p>
            </div>
        </div>
    </body>
</html>
